* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  color: #222;
  overflow: hidden;
}
