.todo-sticker__list{
  position: relative;
  z-index: 3000;
}
.todo-sticker__item {
  width: 250px;
  min-height: 80px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.todo-sticker__buttons {
  position: absolute;
  transition: all 0.3s ease;
}
.todo-sticker__button {
  cursor: pointer;
}
